nav {
  width: 100%;
  background-color: #8290ff;
  opacity: 0.8;
  position: fixed;
  right: 0;
  left: 0;
  padding-top: 20px;
  .mycontainer {
    .nav_container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      position: relative !important;
      .nav_menu {
        ul {
          display: flex;
          gap: 10px;
        }
        li {
          padding: 0 8px 0px 8px;
          color: #fff;
          font-weight: 500;
          font-size: 12px;
        }
        .doropdown-menuBox {
          position: relative;
          padding-bottom: 25px;

          .doropdown-menu {
            position: absolute;
            width: 150px;
            background-color: #fff;
            display: none;
            top: 40px;
            li {
              padding: 10px;
              color: #000;
            }
          }
          &:hover > .doropdown-menu {
            display: block;
          }
        }
      }
    }
    .nav_hamburger {
      display: none;
      i {
        color: #fff;
        font-size: 22px;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  nav {
    position: static;
    .mycontainer {
      .nav_container {
        .nav_menu {
          display: none;
          &.active {
            display: block;
            position: absolute;
            background-color: #000;
            padding: 20px 30px;
            color: #fff;
            width: 200px;
            min-height: 300px;
            top: 36px;
            ul {
              display: block;
              li {
                padding: 10px;
              }
              .doropdown-menuBox {
                .doropdown-menu {
                  position: relative;
                  top: 5px;
                  background-color: #000;
                  li {
                    color: #fff;
                  }
                }
              }
            }
          }
        }
      }

      .nav_hamburger {
        display: block;
      }
    }
  }
}
